[Desktop Entry]
Name=Glyph - Text Extractor
GenericName=Text Extractor
Comment=Lightning-fast screen text extractor for Linux (PowerToys Text Extractor alternative)
Exec=glyph --grab
Icon=io.github.muhaideennausar.Glyph
Terminal=false
Type=Application
Categories=Utility;
Keywords=OCR;Screenshot;Text;Extract;Snipping;PowerToys;Capture;
StartupNotify=false
Actions=Capture;Editor;

[Desktop Action Capture]
Name=Capture & Copy
Exec=glyph --grab

[Desktop Action Editor]
Name=Capture & Edit
Exec=glyph --grab --edit

