[Desktop Entry]
Name=Glyph - Text Extractor
GenericName=Text Extractor
Comment=Extract text from screen selections using optical character recognition
Exec=glyph --grab
Icon=io.github.muhaideennausar.Glyph
Terminal=false
Type=Application
Categories=Utility;
Keywords=OCR;Screenshot;Text;Extract;Snipping;PowerToys;Capture;
StartupNotify=false
Actions=Editor;Instant;
X-KDE-Shortcuts=Meta+Shift+T

[Desktop Action Editor]
Name=Capture & Edit
Exec=glyph --grab
X-KDE-Shortcuts=Meta+Shift+T

[Desktop Action Instant]
Name=Instant Capture & Copy
Exec=glyph --grab --instant
X-KDE-Shortcuts=Meta+Shift+I
